@page "/confirm"
@using Microsoft.AspNetCore.Authorization;
@using TicketHive.Bll.Services.Interfaces;
@using TicketHive.Bll.Services.Managers;
@using TicketHive.Client.LocalStorage;
@inject AuthenticationStateProvider _provider;
@inject NavigationManager NavigationManager
@inject IUnitOfService _unitOfService;
@inject CheckOutManager _checkOutManager;
@inject LocalStorageManager _localStorage
@attribute [Authorize]

<h3>ConfirmPage</h3>

<div class="container">
    <h1 class="mb-4">Confirm Your Order</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Order Summary</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(_cartItems is not null)
                            {
                                foreach(var item in _cartItems)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Price</td>
                                    </tr>
                                }
                            }        
                        </tbody>
                    </table>
                    <table class="table">
                        
                            <thead>
                                <tr>
                                <th>
                                    Total Cost
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@_totalCost</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Billing Information</h5>   
                    <p class="card-text">@_username</p>
                    <p class="card-text">Country</p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Payment Information</h5>
                    <p class="card-text">Card info</p>
                </div>
            </div>
            <p>Total Cost: @_totalCost</p>
            <button class="btn btn-success btn-block my-4" style="width:100%;" @onclick="CheckOut">Confirm Order </button>
            <button class="btn btn-primary btn-block my-4" style="width:100%;" @onclick="RedirectUser">Return </button>
        </div>
    </div>
</div>
 
@code {
    private List<CartItemViewModel> _cartItems = new();
    private string _username;
    private decimal _totalCost;
    private List<TicketViewModel> _tickets = new();
    protected override async Task OnInitializedAsync()
    {
        var authState = await _provider.GetAuthenticationStateAsync();
        _username = authState.User.Identity.Name;
        _cartItems = await GetCartItems(_username);



        GetTotalCost();
    }

    //private async Task GetTotalCost()
    //{
    //    _totalCost = await _checkOutManager.GetTotalCost(_cartItems);
    //}
    private void GetTotalCost()
    {
        _totalCost = _checkOutManager.GetTotalCost(_cartItems);
    }
    private async Task ConfirmBuy()   // Are you sure etc?
    {
        // if yes 

        _tickets = await _checkOutManager.GetTickets(_cartItems);
        // else 
    }
    private async Task CheckOut()
    {
        //await _checkOutManager.GetTickets(_cartItems);
        await ConfirmBuy();
        if(_tickets is not null)
        {
            await _checkOutManager.CheckOut(_tickets);
            await _localStorage.ClearCartAsync(_username);
            //_localStorage.Clear();
        }
        else
        {
            // Error message
        }
    }

    private void RedirectUser()
    {
        NavigationManager.NavigateTo("Booking");
    }

    private async Task<List<CartItemViewModel>?> GetCartItems(string username)
    {
        return await _localStorage.GetCartItems(username);
    }
}
